@charset "utf-8";

@media screen and (min-width:560px) and (max-width:1000px) {

  .edittitle {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 200
  }

/* .fingredients{
    max-width: 300px;
    min-width: 300px;
    min-height: 100px;
    max-height: 100px;
} */
.body2{
    background-image: url('../static/images/str.jpg');
    background-size: 1234px 1113px;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin-right:300px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }



  
#add_button{
    width: 10%;
    border-radius: 10px;
    padding: 3%;
    font-weight: bold;
    background-color: #d63273;
    color: white;
    border: 1px solid black;
}

#keyword {
    display: inline;
    text-align: left;
}

#category{
    display:inline;
}

#category button{
    width: 95px;
    height: 20px;
}

*{
    box-sizing: border-box;
}




#contact-us{
 text-align: left;
}


#newsletter{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin: auto;
    width: 35%;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    grid-gap: 50px;;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.btn{
    width: 70%;
    border-radius: 10px;
    padding: 3%;
    font-weight: bold;
    background-color: #d63273;
    color: white;
    border: 1px solid black;
}

textarea{
    min-height: 100px;
}

.radio-label{
    text-align: center;
}

div{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 5%;
}

nav,main,footer{
    margin-bottom: 3%;
}



#h1add{
    text-align: center;
    font-family:sans-serif;
    text-shadow: 2px 2px white;
    font-size: 3em;
    font-style: italic;
    color: #F5F5DC;
    text-decoration-line:  underline;
    margin-right: 250;
    float: none;
}

h2,h3{
    text-align: center;
    color:#99003d;
    /* display: block; */
    font-size: 35px;
    padding-top:10%;
}

h3{
    font-weight: 100;
    /* display: block; */
    width: 100%;
    font-size: 28px;
}

h2{
    font-style: italic;
}

h4{
    text-align: center;
    color:#99003d;
    /* display: block; */
    /* font-size: 35px; */
    padding-top:1%;
}

section> h2{
    text-decoration: underline;
    text-shadow: 2px 2px white;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5%;
    ;
}

#featured-products img{
    display: block;
    width: 100%;
    max-height: 160px;
    min-height: 160px;
    border-radius: 4%;
    border: 2px solid black;
}

article >p{
    text-align: center;
    font-size: 20px;
    background-color: #d63273;
    color: white;
    margin: 1%;
}

#reviews img{
   width: 45%; 
   margin: auto;
   padding-bottom: 5%;
   border-radius: 60%;
}

.comment{
    width: 90%;
    margin: auto;
    margin-top: 0%;
    background-color: #cac2c5;
    color: black;
}




nav{
    clear: right;
}

nav a{
    background-color: antiquewhite;
    border: 2px solid #99003d;
    width:20%;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 2%;
    font-size: 1.5em;
    
}
.header0 {
  background-color: #84735E;
  color: #100d0d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome0 {
  margin: 0;
}

.logo0 {
  margin-left: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px #84735E;
}


nav::after{
    content: "";
    clear: both;
    display: table;
}
header::after{
    content: "";
    clear: both;
    display: table;
}

table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 90%;
    margin: auto;
    border: 5px solid black;
}

caption{
    text-align: center;
    font-weight: bold;
    color:#99003d;
    font-size: 35px;
    padding-top:10%;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 2px 2px white;
    margin-bottom: 10%;
}

#ID{
    width: 10%;
    background-color: white;
    border: 3px solid black;
}
#dish{
    width: 30%;
    background-color: rgb(240, 16, 121);
    border: 3px solid black;
    color: white;
    height: 40px;
}
#description{
    width: 40%;
    background-color: white;
    border: 3px solid black;
}
#price{
    width: 20%;
    background-color: rgb(240, 16, 121);
    border: 3px solid black;
    color: white;
}

.product_description{
    font-family: arial;
    font-size: 100%;
    background-color: beige;
}

.product_description>ul>li{
    padding: 2px;
    margin-left: 30%;
}

.category{
    text-align: center;
    font-family: arial;
    font-size: 100%;
    background-color: beige;
}

.productID{
    text-align: center;
    font-size: large;
    font-weight: bolder;
    background-color: beige;
}

.type th{
    font-size: 30px;
    padding: 2%;
    margin: auto;
    color:#99003d;
    border: 3px solid black;
    background-color:wheat;
}

/* .product{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    width: 50%;
}

.product img{
    width: 50%;
    max-height: 100px;
    fl
} */





    nav a{
        height: 50px;
        font-size: 16px;
    }

    header,nav,main,footer{
        margin-bottom: 0%;
    }

    h2{font-size: 20px;}
    h3{font-size: 15px;}

    }