

<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
  </header>
  
  <body>
  
      <header>
          <h1 id='welcome'>Recipe Management System!</h1> <img id='logo' img src="{{ logo }}" width="200" height="200" style="margin-left: 40px">
      </header>
      
  
        <main>
          <h2>{{r_name}} recipe has been added to the recipes list!</h2>
          <br><br>
          <h5><a href="/">Return to Home page</a></h5>
        </main>
  
  
  </body>
  
  
  
  
  
  
  