

<header class="headd">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
  </header>
  
  <body class="body3">
  
      <header class="header1">
          <h1 class='welcome2'>Recipe Management System!</h1> <img id='logo2' img src="{{ logo }}" width="200" height="200" style="margin-left: 40px">
      </header>
      
  
        <main>
          <h2 class="h2new">{{r_name}} recipe has been modified!</h2>
          <br><br>
          <h5><a class="returnn" href="/">Return to Home page</a></h5>
        </main>
  
  
  </body>
  
  
  
  
  
  
  